{% extends 'ytdl/base.html' %}


{% load static %}
{% block title %}ダウンローダー{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block js %}{% endblock js %}


{% block content %}

<div id="app">

    <h1> (・∀・) </h1>

    <input type="text" minlength="1" v-model="keyword">

    <button type="button" class="button" id="send" v-on:click="send">ダウンロードする</button>
    <p v-show="!isClick">こちらのサイトは検索に対応しています</p>
    <h4 id="message" v-show="isClick">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>動画を取得中
    </h4>
    [[r_data]]
    <p>下に結果が表示されます<br>何度も画像をタップしないでください。裏では通信が行われており、何度もタップしてしまうことでその通信を阻害してしまいます。</p>
    
    <details open>
        <summary>
            <span class="open">クリックで表示</span>
            <span class="close">クリックで非表示</span>
        </summary>
    <div class="contents" id="return">
    </div>
    </details>
    <div id="stream"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
  let vm = new Vue({
    el:"#app",
    data:{
      isClick:false,
      keyword:"",
    },
    delimiters: ["[[","]]"], 

    methods:{
      send: function() {
      this.isClick = true;
      csrftoken = Cookies.get('csrftoken');
      headers = {'X-CSRFToken': csrftoken};
      data = {
          query:this.keyword,
      };
      axios.post("{% url 'youtube:ajax_search' %}", data, {headers: headers})
        .then(response => {
          $("#return").empty();
          d = JSON.parse(response.data);
          for (let i = 0; i < d.length; i++) {
           $("#return").append("<div class=\"item\"><img src=\"" + d[i].thumbnail_url + "\" class=\"img\" id=\"" + d[i].video_id + "\"/><p>" + d[i].title + "</p></div>");
       }
       this.isClick = false;
        })
        .catch(function (error) {
          alert(error);
        });
      },

      images: function() {
        alert("click!")
      }
    }
  })

</script>
{% endblock content %}

{% block jsfile %}
{% endblock jsfile %}


