{% extends 'ytdl/base.html' %}


{% load static %}
{% block title %}ダウンローダー{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block js %}{% endblock js %}


{% block content %}

<div id="app">
    <h1> (・∀・) </h1>

    <input type="text" minlength="1" v-model="keyword">

    <button type="button" class="button" id="send" @click="send">ダウンロードする</button>
    <p v-show="!isClick">こちらのサイトは検索に対応しています</p>
    <a href="{% url 'youtube:pytube' %}">URLを直接貼り付けたい場合はこちら</a>
    <h4 id="message" v-show="isClick">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>動画を取得中
    </h4>
    <p>下に結果が表示されます<br>何度も画像をタップしないでください。裏では通信が行われており、何度もタップしてしまうことでその通信を阻害してしまいます。</p>
    <details open>
        <summary>
            <span class="open">クリックで表示</span>
            <span class="close">クリックで非表示</span>
        </summary>
    <div class="contents" id="return">
        <div class="item" v-for="video in videos" :key="video.id">
            <img class="img"  v-bind:id="[[ video.video_id ]]" v-bind:src="[[ video.thumbnail_url ]]" @click="images">
            <p v-show="!isClick">[[ video.title ]]</p><p v-show="isClick">Loding...</p>
    </div>
    </div>
    </details>
    <div id="stream" v-for="stream in streams">
        <video v-bind:src="[[ stream.stream_url ]]" controls autolay muted playsinline style="width: 56vw;"></video>
        <p><a v-bind:href="[[ stream.stream_url ]]" download="example.mp4">ダウンロード</a></p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script>
    Vue.mixin({ delimiters: ["[[", "]]"] });

let vm = new Vue({
    el:"#app",
    data:{
      isClick:false,
      keyword:"",
      videos:[],
      streams:[],
    },

    methods:{
      send: function() {
      this.isClick = true;
      csrftoken = Cookies.get('csrftoken');
      headers = {'X-CSRFToken': csrftoken};
      data = {
          query:this.keyword,
      };
      axios.post("{% url 'youtube:ajax_search' %}", data, {headers: headers})
        .then(response => {
          this.videos.splice(0, this.videos.length)
          d = JSON.parse(response.data);
          this.isClick = false;
          for (let i = 0; i < d.length; i++) {
              this.videos.push(d[i])
       }
        })
        .catch(function (error) {
          alert(error);
        });
      },


      images: function(event) {
        this.isClick = true;
        //console.log(event);
        const id = event.target.id;
        csrftoken = Cookies.get('csrftoken');
        headers = {'X-CSRFToken': csrftoken};
        data = {
            video_id:id,
        };
        axios.post("{% url 'youtube:ajax_stream' %}", data, {headers: headers})
        .then(response => {

         this.streams.splice(0, this.streams.length);
         d = JSON.parse(response.data);
         this.streams.push(d);
         this.isClick = false;
        })
        .catch(function (error) {
          alert(error);
        });
    }
    }
  });
</script>
{% endblock content %}

{% block jsfile %}
{% endblock jsfile %}


